@import url("theme.css");

.wy-side-nav-search,
.wy-nav-top {
    background-color: #7b8e2d;
}

a, a:visited {
    color: #48531e;
}

.rst-content dl:not(.docutils) dt {
    color: #48531e;
    background-color: #b2ce41;
    border-top: 3px solid #7b8e2d;
}

.rst-content .viewcode-link,
.rst-content .viewcode-back {
    color: black;
}

.wy-side-nav-search input[type=text] {
    border-color: #45a424;
}

.wy-menu a {
    color: white;
}

div.nbinput {
    background-color: #dddddd !important;
    border-bottom: 1px solid #CCC;
}


div.input_area {
    background-color: transparent !important;
    border: none !important;
}


div.output_area table {
    border-collapse: collapse;
}

div.output_area table thead tr th{
    background-color: #7b8e2d;
}


div.output_area table thead tr th,
div.output_area  table tbody tr td {
    border: 1px solid black;
    font-size: 12px;
}

div.output_area tr:nth-child(even){
  background-color: #7b8e2d5c !important;
}
