@import url("theme.css");

.wy-side-nav-search,
.wy-nav-top {
    background-color: #7b8e2d;
}

a, a:visited {
    color: #48531e;
}

.rst-content dl:not(.docutils) dt {
    color: #48531e;
    background-color: #b2ce41;
    border-top: 3px solid #7b8e2d;
}

.rst-content .viewcode-link,
.rst-content .viewcode-back {
    color: black;
}

.wy-side-nav-search input[type=text] {
    border-color: #45a424;
}

.wy-menu a {
    color: white;
}

div.nboutput,
div[class^='highlight'] pre {
    font-size: 14px !important;
}

div.nboutput div.table-wrapper {
     max-height: 500px;
     overflow: auto;
}


div.nboutput div.table-wrapper th {
    color: #6b7b27;
}

div.nboutput div.table-wrapper table {
    border-collapse: separate;
    border-spacing: 7px 0;
}
