include LICENSE
include README.md

recursive-include skcriteria *.py

exclude tox.ini
exclude pyproject.toml
exclude .header-template
exclude .readthedocs.yml

recursive-exclude ahp_ext *
recursive-exclude tests *
recursive-exclude docs *
recursive-exclude res *
recursive-exclude tools *