-e .

tox
ipdb
pytest
pyquery

black

flake8
flake8-import-order
flake8-black
flake8-builtins

coverage
pytest-cov

pydocstyle
toml

-r docs/requirements.txt

https://github.com/quatrope/qafan/archive/refs/heads/master.zip