/* @import url("theme.css"); */

:root {
    --primary: #b2ce41;
    --secondary: rgb(94, 112, 95);
    --links: #1c909e;
}

h1, h2 {
    color: var(--primary);
}

a, code, .sig.py {
    color: var(--links) !important;
}

dl.citation dt.label {
    background-color: white !important;
    border-top: none !important;
}

dl.citation dt.label a {
    color: var(--secondary) !important;
}

h1 code, h2 code, h3 code, li.toctree-l1 a.reference.internal code {
    color: var(--secondary);
    background-color: inherit;
    border: none;
}
