@import url("theme.css");
:root {
    --primary: #b2ce41;
    --secondary: #5e705f;
    --bg: #7b8e2d;
    --links: #7b8e2d;
    --codebg: #e3ffd28c;
}


/* GENERAL */

h1,
h2,
h3,
div.wy-grid-for-nav nav.wy-nav-side p.caption {
    color: var(--primary);
}

p.caption[role='heading'] {
    color: var(--secondary);
}

a,
a:visited {
    color: var(--links);
}

code {
    color: #222222 !important;
}

a:hover,
a:hover code {
    color: var(--primary) !important;
}


/* NAVBAR */

.wy-side-nav-search,
.wy-nav-top {
    background-color: var(--bg);
}

.wy-side-nav-search input[type=text] {
    border-color: var(--secondary);
}

.wy-menu a,
.wy-menu a code,
.wy-side-nav-search a.icon,
.wy-side-nav-search div.version {
    color: white !important;
}

.wy-menu li.current a,
.wy-menu li.current a code {
    color: #222222 !important;
}

div.input_area div.highlight {
    background-color: var(--codebg) !important;
}