appdirs==1.4.3
apt-clone==0.2.1
apturl==0.5.2
atomicwrites==1.1.5
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.1
blinker==1.4
bottle==0.12.19
Brlapi==0.7.0
catfish==1.4.13
ccsm==0.9.14.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
command-not-found==0.3
compizconfig-python==0.9.14.1
configobj==5.0.6
cryptography==2.8
cupshelpers==1.0
cycler==0.10.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
distlib==0.3.0
distro==1.4.0
dnspython==1.16.0
entrypoints==0.3
et-xmlfile==1.0.1
evdev==1.3.0
filelock==3.0.12
galternatives==1.0.6
grpcio==1.16.1
Guake==3.6.3
html5lib==1.0.1
ifaddr==0.1.6
importlib-metadata==1.5.0
ipdb==0.12.2
jdcal==1.0
jedi==0.15.2
jsonschema==3.2.0
kiwisolver==1.0.1
labours==10.7.2
language-selector==0.1
launchpadlib==1.10.13
louis==3.12.0
lxml==4.5.0
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.0
meld==3.20.2
menulibre==2.2.1
mistune==0.8.4
mock==3.0.5
mugshot==0.4.2
nbdime==3.1.0
netaddr==0.7.19
netifaces==0.10.4
nose==1.3.7
numexpr==2.7.1
oauthlib==3.1.0
onboard==1.4.1
openpyxl==3.0.3
pandocfilters==1.4.2
parso==0.5.2
pathspec==0.7.0
pbr==5.4.5
pickleshare==0.7.5
Pillow==7.0.0
pip==20.0.2
pipdeptree==0.13.2
pluggy==0.13.0
prompt-toolkit==2.0.10
psutil==5.5.1
py==1.8.1
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
PyGObject==3.36.0
PyICU==2.4.2
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyparsing==2.4.6
pyparted==3.11.2
pyprof2calltree==1.4.4
PyQt5==5.14.1
pyRFC3339==1.1
pyrsistent==0.15.5
pyte==0.4.8
pytest==4.6.9
python-apt==2.0.0+ubuntu0.20.4.6
python-debian==0.1.36ubuntu1
python-magic==0.4.16
python-xapp==2.0.1
pytz==2019.3
pyxattr==0.6.1
pyxdg==0.26
qrtools==2.0
QtPy==1.9.0
reportlab==3.5.34
screen-resolution-extra==0.0.0
setproctitle==1.1.10
simplejson==3.16.0
sip==4.19.21
soupsieve==1.9.5
ssh-import-id==5.10
stevedore==1.32.0
systemd-python==234
tables==3.6.1
testpath==0.4.4
ubuntu-advantage-tools==27.4
ubuntu-drivers-common==0.0.0
ufw==0.36
urllib3==1.25.8
virtualenv==20.0.17
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.4
wcwidth==0.1.8
webencodings==0.5.1
wheel==0.34.2
xkit==0.0.0
xlrd==1.1.0
xlwt==1.3.0
yamllint==1.20.0
youtube-dl==2021.4.26
zeroconf==0.24.4
zipp==1.0.0
